booktype
psutil
sqlalchemy
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-CORS==6.0.2
Flask-JWT-Extended==4.7.1
Flask-SocketIO==5.6.0
psycopg2-binary==2.9.11
redis==7.2.0
python-dotenv==1.2.1
marshmallow==4.2.2
requests==2.32.5
cryptography==46.0.5
gunicorn==25.1.0
eventlet==0.40.4
celery==5.6.2
pytest==9.0.2
pytest-cov==7.0.0
httpx==0.28.1
faker==40.4.0